@wood: #fd9;
@woodborder: 1px solid darken(@wood, 20%);

@shelfw: 20vh;
@shelfh: 6vh;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #60acfa;
}

table#Chronoshelves {
    background: @wood;
    border: @woodborder;
    tr {
        padding: 1vh;
    }
    td {
        border: @woodborder;
        padding-top: @shelfh;
        padding-left: @shelfw;
        &[rowspan] {
            padding-top: 0;
            padding-left: @shelfh;
        }
    }
}

#Shelfgroup {
    div {
        cursor: pointer;
        position: absolute;
        display: flex;
        background: @wood;
        border: @woodborder;
        width: @shelfw;
        height: @shelfh;
        transition-property: transform, width, left, top;
        transition-duration: 0.25s;
        z-index: 0;
        span {
            cursor: inherit;
            margin: auto;
            font-size: @shelfh/3;
            user-select: none;
        }
        &.ondrag {
            z-index: 1;
            pointer-events: none;
            transition-property: transform, width;
        }
    }
}

.showErrors {
    div.wrong {
        color: black !important;
        background: silver !important;
    }
}
