@border: 1px solid black;
@granite: silver url('../res/granite.png') repeat;
@shelfspace: 1ex;
@drawerborder: @border;
@drawerinside: silver;
@shadowcolor: rgba(0,0,0,0.5);

@shelfw: 20vh;
@shelfh: 5vh;

@import 'https://fonts.googleapis.com/css?family=Catamaran';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #eddebb url('../res/fossils.png') repeat;
    font-family: 'Catamaran', sans-serif;
}

table#Chronoshelves {
    background: @granite;
    border: @border;
    border-spacing: @shelfspace;
    td {
        background: @granite;
        border: @border;
        box-shadow: inset 0 -@shelfh/10 @shelfh/5 @shadowcolor;
        padding: 0;
        padding-top: @shelfh;
        padding-left: @shelfw;
        &[rowspan] {
            padding-top: 0;
            padding-left: @shelfh;
        }
    }
}

#Shelfgroup {
    div {
        cursor: pointer;
        position: absolute;
        display: flex;
        background: @drawerinside repeat;
        border: @drawerborder;
        box-shadow: 0 8px 6px -6px @shadowcolor;
        width: @shelfw;
        height: @shelfh;
        transition-property: transform, width, left, top;
        transition-duration: 0.25s;
        z-index: 0;
        overflow: hidden;
        span {
            cursor: inherit;
            margin: auto;
            font-size: @shelfh/2.3;
            user-select: none;
        }
        &.ondrag {
            z-index: 1;
            pointer-events: none;
            transition-property: transform, width;
        }
        &.dropped {
            box-shadow: none;
        }
    }
}

.showErrors {
    div.wrong {
        color: black !important;
        background: silver !important;
    }
}
