@border: 1px solid black;
@granite: silver url('../res/granite.png') repeat;
@drawerborder: @border;
@drawerinside: silver;
@shadowcolor: rgba(0,0,0,0.5);
@fossils: #eddebb url('../res/fossils.png') repeat;

@shelfh: 5vh;
@shelfspace: @shelfh/5;
@shelfw: 4.5*@shelfh;

@import 'https://fonts.googleapis.com/css?family=Catamaran';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 2vh;
    background: @fossils;
    font-family: 'Catamaran', sans-serif;
}

header {
    display: block;
    width: 100%;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

table#Chronoshelves {
    background: @granite;
    border: @border;
    border-spacing: @shelfspace;
    td {
        background: @granite;
        border: @border;
        box-shadow: inset 0 -@shelfh/10 @shelfh/5 @shadowcolor;
        padding: 0;
        padding-top: @shelfh;
        padding-left: @shelfw;
        &[rowspan] {
            padding-top: 0;
            padding-left: @shelfh;
        }
    }
}

#Drawerlayer {
    flex: 1;
    max-width: 60vw;
    display: inline-block;
    div {
        cursor: pointer;
        position: absolute;
        display: flex;
        background: @drawerinside repeat;
        border: @drawerborder;
        box-shadow: 0 8px 6px -6px @shadowcolor;
        width: @shelfw;
        height: @shelfh;
        transition-property: transform, width, left, top;
        transition-duration: 0.25s;
        z-index: 0;
        overflow: hidden;
        span {
            cursor: inherit;
            margin: auto;
            font-size: @shelfh/2.3;
            user-select: none;
            pointer-events: none;
        }
        &.ondrag {
            z-index: 1;
            pointer-events: none;
            transition-property: transform, width;
        }
        &.dropped {
            box-shadow: none;
        }
    }
}

.showErrors {
    div.wrong {
        color: black !important;
        background: silver !important;
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    display: none;
}

aside {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    & > * {
        max-width: 50vw;
        font-size: @shelfh/2;
        margin: auto;
        padding: 2em;
        border: 1px solid black;
        background: @fossils;
        box-shadow: 0 8px 6px -6px @shadowcolor;
    }
    transition-property: bottom;
    transition-duration: 0.25s;
    &.out {
        bottom: 100%;
    }
}

button {
    font-family: inherit;
    font-size: @shelfh/2;
    padding: @shelfh/16 @shelfh/4;
    margin: @shelfh/8;
    background: @fossils;
    border: 1px solid black;
    border-radius: @shelfh/2;
    cursor: pointer;
}

footer {
    margin-top: 3ex;
    margin-bottom: -1ex;
    text-align: right;
    font-size: 86%;
    font-style: italic;
    a {
        color: darkblue;
        text-decoration: none;
    }
}
